{
  :paths ["src"]

  :deps
  {org.clojure/clojure {:mvn/version "1.9.0"}
   deraen/sass4clj {:mvn/version "0.3.1"}
   me.raynes/fs {:mvn/version "1.4.6"}
   juxt/dirwatch {:mvn/version "0.2.3"}
   org.clojure/java.classpath {:mvn/version "0.2.3"}

   figwheel-sidecar {:mvn/version "0.5.15"}
   org.clojure/clojurescript {:mvn/version "1.9.946"}}}
